<a href="https://colab.research.google.com/github/patpat1024/pyhon-basic-kadai/blob/main/kadai_014.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#課題のコード

price1 = 100
price2 = 200

def total():
    tax = 1.1
    return price1 + price2

print (total() * tax)

In [32]:
#課題のコードを修正1

def total():
    tax = 1.1
    return (price1 + price2) * tax

price1 = 100
price2 = 200

print (total())

330.0

In [33]:
#課題の修正2

def total():

    return ((price1 + price2) * tax)

price1 = 100
price2 = 200
tax = 1.1

print (total())

330.0